/* Import Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: Roboto, monospace;
}

html {
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

#calculator-container {
	background-color: lightyellow;
	height: 80%;
	flex: 0 1 50%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 20px;
	border: 5px solid lightpink;
	border-radius: 8px;
	aspect-ratio: 1 / 2.5
}

#input-container,
#buttons-container {
	background-color: lightpink;
	border-radius: 16px;
}

#input-container {
	flex: 0.5 1 auto;
	padding: 0px 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#input {
	font-size: 48px;
	text-align: right;
}

#buttons-container {
	flex: 1 1 auto;
	display: flex;
	padding: 10px;
	gap: 5px;
}

button {
	font-size: 16px;
	border-radius: 6px;
	border: 0;
}

#numbers-container {
	flex: 3 1 auto;	
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.number-row {
	flex: 1 1 auto;
	display: flex;
	gap: 5px;
}

.number {
	flex: 1 1 auto;
}

#symbols-container {
	flex: 1 1 auto;	
	display: flex;
	gap: 5px;
}

#main-operators {
	display: flex;
	flex: 1 1 50%;
	flex-direction: column;
	gap: 5px;
}

.operator {
	flex: 1;
	/* width: 100px; */
}

#secondary-operators {
	flex: 1 1 50%;
	display: flex;
	gap: 5px;
	flex-direction: column;
}

#equals {
	flex: 1;
	/* width: 100px; */
}

#clear {
	flex: 1;
	/* width: 100px; */
}
