* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	margin: 0 25vw;
}

#calculator-container {
	background-color: lightyellow;
	flex: auto;
	height: 75vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 20px;
	border: 5px solid lightpink;
	border-radius: 8px;
	max-width: 430px;
}

#input-container,
#buttons-container {
	background-color: lightpink;
	border-radius: 16px;
}

#input-container {
	flex: 0.25 1 auto;
}

#buttons-container {
	flex: 1 1 auto;
}

